@model GTI.MVC.Models.ClienteViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClienteViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataExpedicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataExpedicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgaoExpedicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgaoExpedicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDeNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enderecos[0].Cep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enderecos[0].Cep)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enderecos[0].Logradouro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enderecos[0].Logradouro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enderecos[0].Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enderecos[0].Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enderecos[0].Complemento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enderecos[0].Complemento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enderecos[0].Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enderecos[0].Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enderecos[0].Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enderecos[0].Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enderecos[0].Uf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enderecos[0].Uf)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
