@model GTI.MVC.Models.ClienteViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            CPF
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            Nome
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            RG
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rg)
        </dd>
        <dt class = "col-sm-2">
            Data de Expedição
        </dt>
        <dd class = "col-sm-10">
            @if (Model.DataExpedicao != DateTime.MinValue)
            {
                @Html.DisplayFor(model => model.DataExpedicao)
            }
        </dd>
        <dt class = "col-sm-2">
            Orgão de Expedição
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgaoExpedicao)
        </dd>
        <dt class = "col-sm-2">
            UF Expedição
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uf)
        </dd>
        <dt class = "col-sm-2">
            Data de Nascimento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDeNascimento)
        </dd>
        <dt class = "col-sm-2">
            Sexo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            Estado Civil
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>
        <dt class="col-sm-2">
            CEP
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enderecos[0].Cep)
        </dd>
        <dt class="col-sm-2">
            Rua
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enderecos[0].Logradouro)
        </dd>
        <dt class="col-sm-2">
            Número
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enderecos[0].Numero)
        </dd>
        <dt class="col-sm-2">
            Complemento
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enderecos[0].Complemento)
        </dd>
        <dt class="col-sm-2">
            Bairro
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enderecos[0].Bairro)
        </dd>
        <dt class="col-sm-2">
            Cidade
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enderecos[0].Cidade)
        </dd>
        <dt class="col-sm-2">
            UF
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enderecos[0].Uf)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar para lista de clientes</a>
</div>
